<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Diario de Gratitud{% endblock %}</title>
</head>
<body>
    <h2>Mi Diario</h2>
    
    <p>
        <a href="{% url 'index' %}">Inicio</a> | 
        <a href="{% url 'entradas' %}">Mis Entradas</a> | 
        <a href="{% url 'emociones' %}">Emociones</a> | 
        <a href="{% url 'categorias' %}">Categorias</a>
    </p>
    
    <hr>

    {% if messages %}
        {% for message in messages %}
            <p><strong>{{ message }}</strong></p>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
    
    <hr>
    <p><small>Mi Diario de Gratitud - Maico Rodriguez</small></p>
</body>
</html>